{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="products-list">
	{% for object in object_list %}
        <div class="product">
        	<a href="/products/{{object.id}}">
        		<img class="product-image" src="{% static 'images/sample.png' %}">
        	</a>


            {{ object.title }}
            {{ object.price }}
            {{ object.description }}

            <br>

<!--            {% include 'add_to_cart_button.html' with productId=object.id %}-->
        </div>
    {% endfor %}
</div>
{% endblock %}