{% load static %}

<!doctype html>
    <head>
        <title>Django test</title>
         <style>
            html * {
             font-family: Arial;
            }
    </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
    </head>
    <body>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        {% include 'navbar.html' %}

        {% block content %}
            to replace
        {% endblock %}

    </body>
</html>